{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for politician in politicians %}
    <p class="col-lg-3 col-md-4 col-sm-6">
        <a href="{% url 'detail' politician.id %}" class="btn btn-link">{{ politician.name }}</a>
    </p>
    {% endfor %}
</div>

<ul class="pagination justify-content-center">
    {% if politicians.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}">previous</a></li>
    {% endif %}

    <li class="page-item disabled">
        <span class="page-link">Page {{ politicians.number }} of {{ politicians.paginator.num_pages }}</span>
    </li>

    {% if politicians.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ politicians.next_page_number }}">next</a></li>
    <li class="page-item"><a class="page-link"  href="?page={{ politicians.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
</ul>
{% endblock %}